In [ ]:
vector =[1,2,3,4,6]

for item in vector:
  print("numero ", item)

numero  1
numero  2
numero  3
numero  4
numero  6

In [ ]:
nombre = "nicolas"
x= 2
z=3
y= nombre + str(x) #cambio de variable en python se le asigna el tipo a ese variable str(x)
print(y)

nicolas2

In [ ]:
horas= input("ingrese numero de horas laboradas") 
costo= input("ingrese coste por hora")
suma = int(horas) * int(costo)
print(suma)

ingrese numero de horas laboradas4
ingrese coste por hora4
16

In [ ]:
peso =input("ingrese su peso")
estatura = input("ingrese su estatura")
imc = int(peso)/float(estatura) 
print("su indice de masa es: ", imc)

ingrese su peso80
ingrese su estatura1.70
su indice de masa es:  47.05882352941177

In [ ]:
barrasV= input("ingrese barras vendidas")
dulces = 450
descuento = dulces * 0.5

<h1>Listas</h1>

In [ ]:
lista_nombres =["steven", "nicolas"]
lista_numeros=[1,2,3,4]

#suma de dos listas
#[] se ponen las llaves con el fin de concatenarle otra lista
#a esto se le llama sobrecarga
print(lista_nombres + ["1"])

#si lo que quiero es duplicar el contenido de mi lista
print(lista_nombres * 2)
#concatenar otros dos nombres
lista2= lista_nombres + ["carlos"]
print(lista2)

['steven', 'nicolas', '1']
['steven', 'nicolas', 'steven', 'nicolas']
['steven', 'nicolas', 'carlos']

In [ ]:
#tupla
mi_tupla=(1,2,3,4)

In [ ]:
#en las tuplas no se pueden agregar elementos
mi_tupla=5 #en este caso al imprimir la tupla el valor cambia
print(mi_tupla)

5

In [ ]:
#diccionarios

persona= {"nombre":"pepito", "apellido":"perez", "edad": 34}
print(persona["nombre"])

pepito

In [ ]:
tupla_indices =("nombre", "apellido")
for i in tupla_indices: #recorrer ls elementos de la tupla 
  print("llave:",i, "valor", persona[i])

llave: nombre valor pepito
llave: apellido valor perez

<h2> Funciones </h2>

In [ ]:
#dentro de la funcion el valor puede cambiar
def saludar ( nombre):
  nombre=1234
  print("hola", nombre)
name="nicolas" #una vez sale de la funcion el valor original no cambia como variable global 
saludar(name)
print(name)

hola 1234
nicolas

In [ ]:
x= int(input("cantidad de numeros"))
for i in range(x): # funcion range crea una lista de numeros ordenados
  y=int(input("ingrese el valor  "+ str(i)))
  print(y)

cantidad de numeros2
ingrese el valor  0566
566
ingrese el valor  1215
215

In [ ]:
x2=int(input("cantidad de numeros"))
r=range(x2) #en este caso el range contruye un arreglo de una cantidad de numeros x ingresado por el usuario
for i in r:
  print(i)

cantidad de numeros20
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [ ]:
def calcular_total (productos,iva=0.16):
  sum=0
  for p in productos:
    sum = sum + ((p*iva)+p)
  return sum

In [ ]:
print(calcular_total([122,23,33]))

206.48000000000002